.logo {
  height: 3.25rem;
  margin-left: 3rem;
}

.search {
  flex: 0 0 40%;

  @include flexCenter;

  @media only screen and (max-width: $bp-smallest) {
    order: 1;
    flex: 0 0 100%;
    background-color: $color-grey-light-2;
  }

  &__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: $color-grey-light-2;
    border: none;
    padding: 0.7rem 2rem;
    border-radius: 100px;
    width: 90%;
    transition: all 0.2s;
    margin-right: -3.2rem;

    &:focus {
      outline: none;
      width: 100%;
      background-color: $color-grey-light-3;
    }

    &::placeholder {
      font-weight: 100;
      color: $color-grey-light-4;
    }
  }

  &__input:focus + &__button {
    background-color: $color-grey-light-3;
  }

  &__button {
    border: none;
    background-color: $color-grey-light-2;

    &:focus {
      outline: none;
    }

    &:active {
      transform: translateY(2px);
    }
  }

  &__icon {
    height: 2rem;
    width: 2rem;
    fill: $color-grey-dark-3;
  }
}

.user-nav {
  align-self: stretch;

  display: flex;
  align-items: center;

  & > * {
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;

    @include flexCenter;
  }

  & > *:hover {
    background-color: $color-grey-light-2;
  }

  &__icon-box {
    position: relative;
  }

  &__icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: $color-grey-dark-2;
  }

  &__notification {
    font-size: 0.8rem;
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 50%;
    background-color: $color-primary;
    color: $color-white;
    position: absolute;
    top: 1.5rem;
    right: 1.1rem;
    padding: 0.2rem;

    @include flexCenter;
  }

  &__user-photo {
    height: 3.75rem;
    border-radius: 50%;
    margin-left: 1rem;
  }
}

.side-nav {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 3.5rem;

  @media only screen and (max-width: $bp-medium) {
    display: flex;
    margin: 0;
  }

  &__item {
    position: relative;

    @media only screen and (max-width: $bp-medium) {
      flex: 1;
    }

    &:not(:last-child) {
      margin-bottom: 0.5rem;

      @media only screen and (max-width: $bp-medium) {
        margin-bottom: 0;
      }
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 3px;
      background-color: $color-primary;
      transform: scaleY(0);
      transition: transform 0.2s, width cubic-bezier(1, 0, 0, 1) 0.2s,
        background-color 0.1s;
    }

    &:hover::before,
    &--active::before {
      transform: scaleY(1);
      width: 100%;
    }

    &:active::before {
      background-color: $color-primary-light;
    }
  }

  &__link {
    &:link,
    &:visited {
      color: $color-grey-light-1;
      text-decoration: none;
      text-transform: uppercase;
      position: relative;
      z-index: 10;
      padding: 1.5rem 3rem;

      display: flex;
      align-items: center;

      @media only screen and (max-width: $bp-medium) {
        justify-content: center;
        padding: 2rem;
      }

      @media only screen and (max-width: $bp-small) {
        flex-direction: column;
        padding: 1.5rem 0.5rem;
      }
    }
  }

  &__icon {
    width: 1.75rem;
    height: 1.75rem;
    margin-right: 2rem;
    fill: currentColor;

    @media only screen and (max-width: $bp-small) {
      margin-right: 0;
      width: 1.5rem;
      height: 1.5rem;
      margin-bottom: 0.7rem;
    }
  }
}

.legal {
  font-size: 1.2rem;
  text-align: center;
  padding: 2.5rem;
  color: $color-grey-light-4;

  @media only screen and (max-width: $bp-medium) {
    display: none;
  }
}

.gallery {
  display: flex;

  &__photo {
    width: 100%;
    display: block;
  }
}

.overview {
  display: flex;
  align-items: center;
  border-bottom: 1px solid $color-grey-light-2;

  &__heading {
    font-size: 2.25rem;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1.5rem 3rem;

    @media only screen and (max-width: $bp-small) {
      font-size: 1.8rem;
      padding: 1.25rem 2rem;
    }
  }

  &__stars {
    margin-right: auto;
    display: flex;
  }

  &__icon-star,
  &__icon-location {
    width: 1.75rem;
    height: 1.75rem;
    fill: $color-primary;
  }

  &__location {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
  }

  &__icon-location {
    margin-right: 0.5rem;
  }

  &__rating {
    background-color: $color-primary;
    margin-left: 3rem;
    color: $color-white;
    align-self: stretch;
    padding: 0 2.25rem;

    @include flexCenter;
    flex-direction: column;

    @media only screen and (max-width: $bp-small) {
      padding: 0 1.5rem;
    }

    &--average {
      font-size: 2.25rem;
      font-weight: 300;
      margin-bottom: -3px;

      @media only screen and (max-width: $bp-small) {
        font-size: 1.8rem;
      }
    }

    &--count {
      font-size: 0.8rem;
      text-transform: uppercase;

      @media only screen and (max-width: $bp-small) {
        font-size: 0.5rem;
      }
    }
  }
}

.btn-inline {
  border: none;
  color: $color-primary;
  font-size: inherit;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  display: inline-block;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.2s;

  & span {
    margin-left: 3px;
    transition: margin-left 0.2s;
  }

  &:hover {
    color: $color-grey-dark-1;

    span {
      margin-left: 8px;
    }
  }

  &:focus {
    outline: none;
    animation: pulsate 1s infinite;
  }
}

@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none;
  }
  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 4rem rgba($color-black, 0.25);
  }
  100% {
    transform: scale(1);
    box-shadow: none;
  }
}

.paragraph {
  &:not(:last-of-type) {
    margin-bottom: 2rem;
  }
}

.list {
  list-style: none;
  margin: 3rem 0;
  padding: 3rem 0;
  border-top: $line;
  border-bottom: $line;

  display: flex;
  flex-wrap: wrap;

  &__item {
    flex: 0 0 50%;
    margin-bottom: 0.7rem;
    &::before {
      content: "";
      display: inline-block;
      height: 1rem;
      width: 1rem;
      margin-right: 0.7rem;

      //for older browsers
      background-image: url("../img/chevron-thin-right.svg");
      background-size: cover;

      //for newer browsers
      @supports (
        (mask-image: url("../img/chevron-thin-right.svg")) or
          (-webkit-mask-image: url("../img/chevron-thin-right.svg"))
      ) {
        background-color: $color-primary;
        -webkit-mask-image: url("../img/chevron-thin-right.svg");
        mask-image: url("../img/chevron-thin-right.svg");
        -webkit-mask-size: cover;
        mask-size: cover;
        background-image: none;
      }
    }
  }
}

.recommend {
  font-size: 1.3rem;
  color: $color-grey-dark-3;

  display: flex;
  align-items: center;
  justify-content: space-between;

  &__friends {
    display: flex;
  }

  &__photo {
    box-sizing: content-box;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    border: 3px solid $color-white;

    &:not(:last-child) {
      margin-right: -2rem;
    }
  }
}

.review {
  background-color: $color-white;
  box-shadow: $shadow-dark-2;
  padding: 3rem;
  margin-bottom: 3.5rem;
  position: relative;
  overflow: hidden;

  @media only screen and (max-width: $bp-medium) {
    padding: 2rem;
    margin-bottom: 3rem;
  }

  &__user {
    margin-top: 2rem;
    display: flex;
    align-items: center;
  }

  &__text {
    position: relative;
    z-index: 10;
  }

  &__photo {
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
  }

  &__user-box {
    margin-right: auto;
    margin-left: 1.5rem;
  }

  &__user-name {
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0.4rem;
  }

  &__user-date {
    font-size: 1rem;
    color: $color-grey-dark-3;
  }

  &__rating {
    color: $color-primary;
    font-size: 2.2rem;
    font-weight: 300;
  }

  &::before {
    content: "\201C";
    position: absolute;
    top: -2.75rem;
    left: -1rem;
    font-size: 20rem;
    color: $color-grey-light-2;
    line-height: 1;
    font-family: sans-serif;

    z-index: 1;
  }
}

.cta {
  padding: 3.5rem 0;
  text-align: center;

  @media only screen and (max-width: $bp-medium) {
    padding: 2.5rem 0;
  }

  &__book-now {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 2.5rem;
  }
}

.btn {
  font-size: 1.5rem;
  border: none;
  font-weight: 300;
  text-transform: uppercase;
  border-radius: 100px;
  background-image: linear-gradient(
    to right,
    $color-primary-light,
    $color-primary-dark
  );
  color: $color-white;
  position: relative;
  overflow: hidden;
  cursor: pointer;

  & > * {
    display: inline-block;
    height: 100%;
    width: 100%;
    transition: all 0.2s;
  }

  &__visible {
    padding: 2rem 7.5rem;
  }

  &__invisible {
    position: absolute;
    top: -100%;
    left: 0;
    padding: 2rem 0rem;
  }

  &:hover {
    background-image: linear-gradient(
      to right,
      $color-primary-dark,
      $color-primary-light
    );
  }

  &:hover &__visible {
    transform: translateY(100%);
  }

  &:hover &__invisible {
    top: 0;
  }

  &:focus {
    outline: none;
    animation: pulsate 1s infinite;
  }
}
